<% if session[:user_id] == @user.id %>
   <h1>Hello <%= @user.name %></h1><br>
   <h3>here are your albums:</h3>
<% else %>
   <h1><%= @user.name %>'s Albums</h1>
<% end %>

<% @user.albums.each do |album| %>
   <%= link_to album.title, review_path(album) %><br>
<% end %>

<%= link_to "Create a New Album", new_album_path %><br>

<h3><%= @user.name %>'s Favorite Songs:</h3>

