<%= user_show_header %><br>


<% @reviews.each do |review| %>
   <h4><%= link_to review.album.title, review_path(review) %></h4><br>
<% end %>
<br>
<% if login_check %>
   <p><%= link_to "Create a New Album", new_album_path %></p><br>
<% end %>

<%= user_show_songs %><br>



<% @user.tracks.each do |track| %>
   <h5><%= track.track_title %> by <%= track.review.album.artist.artist_name %></h5>
<% end %>


<% if creator_check %>
   <br><%= link_to "Delete User", user_path(@user), method: :delete %>
<% end %>

