<%= user_show_header %>

<ol>
<% @reviews.each do |review| %>
   <li><%= link_to review.album.title, review_path(review) %></li><br>
<% end %>
</ol>
<% if session[:user_id] == @user.id %>
   <%= link_to "Create a New Album", new_album_path %><br>
<% end %>

<%= user_show_songs %>


<ul>
<% @user.tracks.each do |track| %>
   <li><%= track.track_title %> by <%= track.review.album.artist.artist_name %></li>
<% end %>
</ul>

<% if session[:user_id] == @user.id %>
   <%= link_to "Delete User", user_path(@user), method: :delete %>
<% end %>

