<h1><%= @album.title %> by <%= @album.artist.artist_name %></h1>

<% @album.reviews.each do |review| %><br>
    <%= link_to review.user.name, review_path(review) %>'s review<br>
<% end %>


<%= link_to "Add a Review", new_album_review_path(@album.id) %><br>
<%= link_to "Edit the Album", edit_album_path(@album) %>