<%= review_index_header %>
<br>


<% @reviews.each do |review| %>
    <% if params[:album_id] %>
        <h4>Review by <%= link_to review.user.name, review_path(review) %><br></h4>
    <% else %>
        <h4>Review for <%= link_to review.album.title, review_path(review) %> by <%= review.user.name %></h4><br>
    <% end %>
<% end %>
<br>
<% if params[:album_id] %>
    <p><%= link_to "Create a New Review", new_album_review_path(@album) %></p>
<% end %><br>