<% if params[:album_id] %>
    <h1>All Reviews for <%= @album.title %> by <%= @album.artist.artist_name %></h1>
<% else %>
    <h1>All Reviews</h1>
<% end %>

<ul>
<% @reviews.each do |review| %>
    <li>Review by <%= link_to review.user.name, review_path(review) %>
    <% if params[:album_id] %>
        </li><br>
    <% else %>
        for <%= review.album.title %></li><br>
    <% end %>
<% end %>
</ul>

<p><%= link_to "Create a New Review", new_review_path %></p>