<%= review_index_header %>


<ul>
<% @reviews.each do |review| %>
    <% if params[:album_id] %>
        <li>Review by <%= link_to review.user.name, review_path(review) %></li><br>
    <% else %>
        <li>Review by <%= review.user.name %> for <%= link_to review.album.title, review_path(review) %></li><br>
    <% end %>
<% end %>
</ul>

<% if params[:album_id] %>
    <p><%= link_to "Create a New Review", new_album_review_path(@album) %></p>
<% else %>
    <p><%= link_to "Create a New Review", new_review_path %></p>
<% end %><br>