<% if @review.user_id == session[:user_id] %>
    <h1>Your Review for <%= @review.album.title %> by <%= @review.album.artist.artist_name %></h1>
<% else %>
    <h1><%= @review.user.name %>'s Review for <%= @review.album.title %> by <%= @review.album.artist.artist_name %></h1>
<% end %>

<p><%= @review.review_text %></p>
<br>
<p><%= @review.score %>/10</p>
<br>
<p>Favorite Tracks: <%= @track.try(:track_title) || "No Tracks Listed" %></p>
<br>

<% if @review.user_id == session[:user_id] %>
    <%= link_to "Edit Review", edit_review_path(@review) %>
    <br>
    <%= link_to "Delete Review", review_path(@review), method: :delete %>
<% end %>