<%= review_show_header %>
<br>
<p><%= @review.review_text %></p>
<br>
<h4><%= @review.score %>/10</h4>
<br>
<h4>Favorite Tracks: <%= @track.try(:track_title) || "No Tracks Listed" %></h4>
<br>

<% if creator_check %>
    <%= link_to "Edit Review", edit_review_path(@review) %>
    <br>
    <%= link_to "Delete Review", review_path(@review), method: :delete %>
<% end %>