<h1>Review for <%= @review.album.title %></h1>

<p><%= @review.review_text %></p>
<br>
<p><%= @review.score %>/10</p>
<br>
<p>Favorite Tracks: <%= @track.track_title %></p>
<br>

<%= link_to "Edit Review", edit_review_path(@review) %>