<%= review_show_header %>

<p><%= @review.review_text %></p>
<br>
<p><%= @review.score %>/10</p>
<br>
<p>Favorite Tracks: <%= @track.try(:track_title) || "No Tracks Listed" %></p>
<br>

<% if login_check %>
    <%= link_to "Edit Review", edit_review_path(@review) %>
    <br>
    <%= link_to "Delete Review", review_path(@review), method: :delete %>
<% end %>