<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicboxd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to "View All Albums", albums_path(@album) %> 
  <%= link_to "View All Users", users_path(@user) %>
  <%= link_to "View All Reviews", reviews_path(@review) %>
  <% if session[:user_id] %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%= link_to "Home", user_path(session[:user_id]) %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
